:root{
    --mainColor:#b1d4e0;
    --edgesColor:#0c2d48;
    --focusColor:#D39E6D;
    --focusEdge:#E0BDB1;
    --firstColor:#0000ff;
    --firstEdge:#3333FF;
    --secondColor:#4ADECE;
    --secondEdge:#75E6DA;
    --thirdColor:#E8402C;
    --thirdEdge:#ED6A5A;
    --fourthColor:#D90368;
    --fourthEdge:#FC1381;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    margin: 0 auto;
    list-style: none;
    transform: rotate(318deg) skew(199deg) translate(0, 0);
     transition: .5s;
    background-color:var(--mainColor);
}
    
 
.edges{
       box-shadow: -50px 30px 10px var(--mainColor) ; 
    } 

.container::before{
        content: "";
        position: absolute;
        top: 45px;
        right: 65px;
        width: 100px;
        height: 30px;
        transform: rotate(90deg) skewX(35deg);
        background-color: var(--edgesColor);
    }

.container::after{
content: "";
position: absolute;
top: 99px;
left: -16px;
width: 100px;
height: 21px;
transform: rotate(180deg) skewX(-55deg);
background-color: var(--edgesColor);
          
}

.container:hover{
background-color: var(--focusColor);
cursor: pointer;
transform-origin: center;
transform: rotate(360deg) translate(0px ,-20px);
}
.container:hover::before{
    background-color: var(--focusColor);
}
.container:hover::after{
    background-color: var(--focusEdge);
}

/* first link style on hover  */
.container:hover.first{
background-color: var(--firstColor);
} 
.first.container:hover::before{
    background-color:var(--firstColor);
}
.first.container:hover::after{
    background-color: var(--firstEdge);
}

/* second link element style on hover */
.container:hover.second{
    background-color: var(--secondColor);
    } 
    .second.container:hover::before{
        background-color: var(--secondColor);
    }
    .second.container:hover::after{
        background-color: var(--secondEdge);
    }
    /* third link element style on hover */

    .container:hover.third{
        background-color: var(--thirdColor);
        } 
        .third.container:hover::before{
            background-color:var(--thirdColor);
        }
        .third.container:hover::after{
            background-color: var(--thirdEdge);
        }

     /* fourth link element style on hover */
     .container:hover.fourth{
        background-color: var(--fourthColor);
        } 
        .fourth.container:hover::before{
            background-color:var(--fourthColor);
        }
        .fourth.container:hover::after{
            background-color: var(--fourthEdge);
        }   